body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
svg{
    background-color: #b46bce;
    padding-left: 10px;
}

#x-axis, #y-axis{
 color: #dcfffa;
 font-size: 12px;
 font-weight: bold;
}

#title{
   font-size: 30px;
   font-weight: bold;
   color:#dcfffa;
}

#tooltip{
   color: rgb(8, 8, 35);
   font-size: 30px;
   font-weight: bold; 

}
.bar:hover{
    border:1px solid whitesmoke;
    background-color:white;
}
